{{!-- <form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form> --}}

<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Email</label>
    <input type="text" class="form-control" id="formGroupExampleInput email-signup" placeholder="Please Enter An Email">
  </div>
    <div class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" id="formGroupExampleInput username-signup" placeholder="Please Enter A Username">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="text" class="form-control" id="formGroupExampleInput2 password-login" placeholder="Please Enter A Password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </br>
  </br>
  <a href="./signup">Click Here To Signup!</a>
</form>
<script src="/javascript/signup.js"></script>