<ul class="list-group">
    {{#each posts as |post|}}
  <li class="list-group-item">
      <a href="/post/{{id}}">{{title}}</a>
      <div class="float-right">
          {{format_date created_at}}
      </div>
  </li>
  {{/each}}
</ul>

{{!-- <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" id="username-login" placeholder="Please Your A Username">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="password" class="form-control" id="password-login" placeholder="Please Your A Password">
  </div>
  <button type="submit" id="submitButton" class="btn btn-primary mb-2">Submit</button>
  </br>
  </br>
  <a href="./signup">Click Here To Signup!</a>
</form> --}}

</br>
<a href="./newpost">
<button type="button" class="justify-content-center btn btn-primary">+ Add New Post!</button>
</a>