<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
      {{> post-info post}}
    {{/each}}
  </ol>
</section>

</br>
<a href="./newpost">
<button type="button" class="justify-content-center btn btn-primary">+ Add New Post!</button>
</a>