<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" id="username-login" placeholder="Please Your A Username">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="password" class="form-control" id="password-login" placeholder="Please Your A Password">
  </div>
  <button type="submit" id="submitButton" class="btn btn-primary mb-2">Submit</button>
  </br>
  </br>
  <a href="./signup">Click Here To Signup!</a>
</form>

{{!-- <form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form> --}}

<script src="/javascript/login.js"></script>